example_webapps/test_app
example_webapps/exception_test
example_webapps/tests
example_webapps/blog_app/blog_app
url_demo
blog_app
module_test
timeout_test
*.info
mak
docs/html
*.a
*.o
*.swp

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

src/Makefile
src/Makefile.in
