example_webapps/test_app/test_app
example_webapps/exception_test/exception_test
example_webapps/tests/tests
example_webapps/blog/blog_app
example_webapps/module_test/module_test
example_webapps/timeout_test/timeout_test
example_webapps/web_server/web_server
*.info
mak
docs/html
*.a
*.o
*.swp
*.pdf
micro_app
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
.settings/
*.l[ao]
*~

src/Makefile
src/Makefile.in
